h1 {
    font-size: xx-large;
    text-align: center;
}
body {
    text-align: center;
    font-family: Arial, sans-serif; /* フォントを設定 */
}

input[type="search"] {
    padding: 10px; /* 内側の余白を設定 */
    border: 1px solid #ccc; /* ボーダーを設定 */
    border-radius: 5px; /* 角を丸くする */
}

button {
    padding: 10px; /* 内側の余白を設定 */
    border: none; /* ボーダーを無しに */
    border-radius: 5px; /* 角を丸くする */
    background-color: #007bff; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    cursor: pointer; /* カーソルをポインターに */
    
}
img {
    width: 500px;
    max-width: 100%; /* これが適切に設定されていれば問題はないはず */
    height: auto; /* アスペクト比を維持 */
}
.result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
.hidden {
    display: none; /* 非表示にするスタイル */
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* 初期は非表示 */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000; /* 最前面に表示 */
}

#scrollTo2019Btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

#scrollTo2019Btn:hover {
    background-color: #555;
}
#scrollTo2020Btn {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

#scrollTo2020Btn:hover {
    background-color: #555;
}
#scrollTo2021Btn {
    position: fixed;
    top: 120px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

#scrollTo2021Btn:hover {
    background-color: #555;
}
#scrollTo2022Btn {
    position: fixed;
    top: 170px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
}

#scrollTo2022Btn:hover {
    background-color: #555;
}

.flip {
    width: 950px;
}
